Library/
Logs/
Temp/
Obj/
UserSettings/
Builds/
Artifacts/
Assets/Generated/
Assets/Generated.meta
Assets/GeneratedFixture/
Assets/GeneratedFixture.meta
Assets/StreamingAssets/
Assets/StreamingAssets.meta
Packages/packages-lock.json
ProjectSettings/*.asset
ProjectSettings/SceneTemplateSettings.json
*.csproj
*.sln
__pycache__/
*.pyc
